@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@source "../../../content/**/*";

html {
  background-color: bg-ctp-base;
  color: text-ctp-text;
}


::selection {
  background-color: color-mix(in srgb, var(--ctp-overlay2) 30%, transparent);
}

.prose a:not(h2 a, h3 a, h4 a, h5 a, h6 a, button a) {
  color: var(--ctp-blue);
  @apply hover:underline;
}

/* Override Nuxt UI primary */
:root {
  --ui-primary: #8839ef; /* latte-mauve */
}

.dark {
  --ui-primary: #cba6f7; /* mocha-mauve */
}

body {
  background-color: bg-ctp-base;
  color: text-ctp-text;
}
